<!DOCTYPE html>
<html>
    <head>
        <title>New Post</title>
    </head>
    <body>
        <h1>New Post</h1>
        <form action="/posts" method="POST">
            {{ csrfField() }}
            <table>
                <tr>
                    <td>
                        <label>Title</label>
                    </td>
                    <td>
                        <input type="text" name="title" size="50">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Body</label>
                    </td>
                    <td>
                        <textarea name="body" cols="50" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Save">
                    </td>
                    <td></td>
                </tr>
            </table>
        </form>
    </body>
</html>